<div>
    <h2 data-translate="bvloginApp.bamsGenerCode.home.title">Bams Gener Codes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bams-gener-code.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="bvloginApp.bamsGenerCode.home.createLabel">
                        Create new Bams Gener Code
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'bvloginApp.bamsGenerCode.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span data-translate="bvloginApp.bamsGenerCode.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="bvloginApp.bamsGenerCode.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="bvloginApp.bamsGenerCode.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activated"><span data-translate="bvloginApp.bamsGenerCode.activated">Activated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdby"><span data-translate="bvloginApp.bamsGenerCode.createdby">Createdby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createddate"><span data-translate="bvloginApp.bamsGenerCode.createddate">Createddate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifiedby"><span data-translate="bvloginApp.bamsGenerCode.lastmodifiedby">Lastmodifiedby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifieddate"><span data-translate="bvloginApp.bamsGenerCode.lastmodifieddate">Lastmodifieddate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="versionId"><span data-translate="bvloginApp.bamsGenerCode.versionId">Version Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bamsGenerType.type_code"><span data-translate="bvloginApp.bamsGenerCode.bamsGenerType">Bams Gener Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bamsGenerCode in vm.bamsGenerCodes track by bamsGenerCode.id">
                    <td><a ui-sref="bams-gener-code-detail({id:bamsGenerCode.id})">{{bamsGenerCode.id}}</a></td>
                    <td>{{bamsGenerCode.code}}</td>
                    <td>{{bamsGenerCode.name}}</td>
                    <td>{{bamsGenerCode.description}}</td>
                    <td>{{bamsGenerCode.activated}}</td>
                    <td>{{bamsGenerCode.createdby}}</td>
                        <td>{{bamsGenerCode.createddate | date:'mediumDate'}}</td>
                    <td>{{bamsGenerCode.lastmodifiedby}}</td>
                        <td>{{bamsGenerCode.lastmodifieddate | date:'mediumDate'}}</td>
                    <td>{{bamsGenerCode.versionId}}</td>
                    <td>
                        <a ui-sref="bams-gener-type-detail({id:bamsGenerCode.bamsGenerType.id})">{{bamsGenerCode.bamsGenerType.typeCode}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bams-gener-code-detail({id:bamsGenerCode.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bams-gener-code.edit({id:bamsGenerCode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bams-gener-code.delete({id:bamsGenerCode.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
