
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBamsAuthorityLabel" data-translate="bvloginApp.bamsAuthority.home.createOrEditLabel">Create or edit a Bams Authority</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bamsAuthority.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bamsAuthority.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bvloginApp.bamsAuthority.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.bamsAuthority.name"
                    required ng-maxlength="50"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bvloginApp.bamsAuthority.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.bamsAuthority.description"
                    ng-maxlength="150"/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="150">
                    This field cannot be longer than 150 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bvloginApp.bamsAuthority.activated" for="field_activated">Activated</label>
                <input type="checkbox" name="activated" id="field_activated"
                          ng-model="vm.bamsAuthority.activated"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bvloginApp.bamsAuthority.createdby" for="field_createdby">Createdby</label>
            <input type="text" class="form-control" name="createdby" id="field_createdby"
                    ng-model="vm.bamsAuthority.createdby"
                    ng-maxlength="50"/>
            <div ng-show="editForm.createdby.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdby.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bvloginApp.bamsAuthority.createddate" for="field_createddate">Createddate</label>
                <div class="input-group">
                    <input id="field_createddate" type="text" class="form-control" name="createddate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bamsAuthority.createddate" is-open="vm.datePickerOpenStatus.createddate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createddate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bvloginApp.bamsAuthority.lastmodifiedby" for="field_lastmodifiedby">Lastmodifiedby</label>
            <input type="text" class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
                    ng-model="vm.bamsAuthority.lastmodifiedby"
                    ng-maxlength="50"/>
            <div ng-show="editForm.lastmodifiedby.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastmodifiedby.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bvloginApp.bamsAuthority.lastmodifieddate" for="field_lastmodifieddate">Lastmodifieddate</label>
                <div class="input-group">
                    <input id="field_lastmodifieddate" type="text" class="form-control" name="lastmodifieddate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bamsAuthority.lastmodifieddate" is-open="vm.datePickerOpenStatus.lastmodifieddate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastmodifieddate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="bvloginApp.bamsAuthority.bamsPermission" for="field_bamsPermission">Bams Permission</label>
            <select class="form-control" id="field_bamsPermission" multiple name="bamsPermission" ng-model="vm.bamsAuthority.bamsPermissions" ng-options="bamsPermission as bamsPermission.name for bamsPermission in vm.bamspermissions track by bamsPermission.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
