<div>
    <h2 data-translate="bvloginApp.bamsGenerType.home.title">Bams Gener Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bams-gener-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="bvloginApp.bamsGenerType.home.createLabel">
                        Create new Bams Gener Type
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'bvloginApp.bamsGenerType.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeCode"><span data-translate="bvloginApp.bamsGenerType.typeCode">Type Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeName"><span data-translate="bvloginApp.bamsGenerType.typeName">Type Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeStatusCode"><span data-translate="bvloginApp.bamsGenerType.typeStatusCode">Type Status Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeCreatedBy"><span data-translate="bvloginApp.bamsGenerType.typeCreatedBy">Type Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeCreatedDate"><span data-translate="bvloginApp.bamsGenerType.typeCreatedDate">Type Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeLastUpdateBy"><span data-translate="bvloginApp.bamsGenerType.typeLastUpdateBy">Type Last Update By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeLastUpdateDate"><span data-translate="bvloginApp.bamsGenerType.typeLastUpdateDate">Type Last Update Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeVersionId"><span data-translate="bvloginApp.bamsGenerType.typeVersionId">Type Version Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bamsGenerType in vm.bamsGenerTypes track by bamsGenerType.id">
                    <td><a ui-sref="bams-gener-type-detail({id:bamsGenerType.id})">{{bamsGenerType.id}}</a></td>
                    <td>{{bamsGenerType.typeCode}}</td>
                    <td>{{bamsGenerType.typeName}}</td>
                    <td>{{bamsGenerType.typeStatusCode}}</td>
                    <td>{{bamsGenerType.typeCreatedBy}}</td>
                        <td>{{bamsGenerType.typeCreatedDate | date:'mediumDate'}}</td>
                    <td>{{bamsGenerType.typeLastUpdateBy}}</td>
                        <td>{{bamsGenerType.typeLastUpdateDate | date:'mediumDate'}}</td>
                    <td>{{bamsGenerType.typeVersionId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bams-gener-type-detail({id:bamsGenerType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bams-gener-type.edit({id:bamsGenerType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bams-gener-type.delete({id:bamsGenerType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
